CF_TUNNEL_TOKEN=x
CF_DNS_TOKEN=x
CF_TUNNEL_DOMAIN=*.x.com
NSN_BASE=0.0.0.0
NSN_CLOUDFLARE=0.0.0.0
CADDY_IP=0.0.0.0


MINIFLUX_CADDY_DOMAIN=rss.x.com
MINIFLUX_HOSTNAME=https://x.x.com
MINIFLUX_IP=0.0.0.0
MINIFLUX_EXTERNAL_PORT=0000
MINIFLUX_INTERNAL_PORT=0000
MINIFLUX_ADMIN_USERNAME=x
MINIFLUX_ADMIN_PASSWORD=x
MINIFLUX_POSTGRES_USER=x
MINIFLUX_POSTGRES_PASSWORD=x


AUTHELIA_CADDY_DOMAIN=auth.x.com
AUTHELIA_HOSTNAME=https:/auth.x.com
AUTHELIA_IP=0.0.0.0
MINIFLUX_EXTERNAL_PORT=0000
AUTHELIA_INTERNAL_PORT=0000
AUTHELIA_JWT_SECRET=x
AUTHELIA_SESSION_REDIS_PASSWORD=x
AUTHELIA_SESSION_SECRET=x
AUTHELIA_SMTP_PASSWORD=x
AUTHELIA_STORAGE_ENCRYPTION_KEY=x
AUTHELIA_STORAGE_POSTGRES_PASSWORD=x

SEARXNG_CADDY_DOMAIN=search.x.com
SEARXNG_HOSTNAME=https://search.x.com
SEARXNG_IP=0.0.0.0
SEARXNG_EXTERNAL_PORT=0000
SEARXNG_INTERNAL_PORT=0000
