NSN_BASE=0.0.0.0
NSN_CLOUDFLARE=0.0.0.0
CF_TUNNEL_TOKEN=x
MINIFLUX_PORT=0000
MINIFLUX_INTERNAL_PORT=0000
MINIFLUX_IP=0.0.0.0
MINIFLUX_ADMIN_USERNAME=x
MINIFLUX_ADMIN_PASSWORD=x
MINIFLUX_POSTGRES_PASSWORD=x