(cloudflare) {
	encode gzip
	tls {
		dns cloudflare {$CF_DNS_TOKEN}
		resolvers 1.1.1.1
		propagation_delay 30s
	}
}

# (secure) {
# 	forward_auth {args.0} {$AUTHELIA_HOSTNAME} {
# 		uri /api/verify?rd={$AUTHELIA_HOSTNAME}
# 		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
# 		header_up Host {upstream_hostport}
# 	}
# }

(secure) {
	forward_auth {args.0} {$AUTHELIA_IP}:{$AUTHELIA_INTERNAL_PORT} {
		uri /api/verify?rd={$AUTHELIA_HOSTNAME}
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
}

# (secure) {
# 	forward_auth {args.0} {$AUTHELIA_HOSTNAME} {
# 		uri /api/authz/forward-auth
# 		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
# 		header_up Host {upstream_hostport}
# 	}
# }

{$AUTHELIA_CADDY_DOMAIN} {
 	reverse_proxy {$AUTHELIA_IP}:{$AUTHELIA_INTERNAL_PORT}
}


{$CF_TUNNEL_DOMAIN} {
	import secure *
	import cloudflare

	@service1 host {$MINIFLUX_CADDY_DOMAIN}
	reverse_proxy @service1 {$MINIFLUX_IP}:{$MINIFLUX_INTERNAL_PORT}

	@service2 host {$SEARXNG_CADDY_DOMAIN}
	reverse_proxy @service2 {$SEARXNG_IP}:{$SEARXNG_INTERNAL_PORT}
}
