KAFKA_SASL_USER=xyz
KAFKA_SASL_PASS=xyz-secret

KAFKAUI_CONFIG_PORTS=127.0.0.1:0000:0000
KAFKAUI_SERVER_SERVLET_CONTEXT_PATH="/xyz"
KAFKAUI_SPRING_SECURITY_USER_NAME="xyz"
KAFKAUI_SPRING_SECURITY_USER_PASSWORD="xyz"

BROKER_CONFIG_PORTS=127.0.0.1:0000:0000
BROKER_PORTS=0000
BROKER_KAFKA_CLUSTER_ID="xyz"

SCHEMA_CONFIG_REGISTRY_PORTS=127.0.0.1:0000:0000
SCHEMA_REGISTRY_PORTS=0000

CONNECT_CONFIG_REGISTRY_PORTS=127.0.0.1:0000:0000
CONNECT_REGISTRY_PORTS=0000

KSQL_CONFIG_REGISTRY_PORTS=127.0.0.1:0000:0000
KSQL_REGISTRY_PORTS=0000

REST_CONFIG_REGISTRY_PORTS=127.0.0.1:0000:0000
REST_REGISTRY_PORTS=0000