AUDIOBOOKSHELF_NAS_MEDIA=/nas/audiobooks
AUDIOBOOKSHELF_NAS=/nas/audiobookshelf
AUDIOBOOKSHELF_PORTS="0:0"

HOMEBOX_NAS=/nas/miniflux
HOMEBOX_PORTS="0:0"

MINIFLUX_NAS=/nas/miniflux
MINIFLUX_PORTS="0:0"
MINIFLUX_POSTGRES_USER=xx
MINIFLUX_POSTGRES_PASSWORD=xx
MINIFLUX_POSTGRES_DB=xx
MINIFLUX_ADMIN_USERNAME=xx
MINIFLUX_ADMIN_PASSWORD=xx