DELUGE_PORTS="0:0"
DELUGE_NAS=/nas/arr/deluge
DELUGE_NAS_MEDIA=/nas

PROWLARR_PORTS="0:0"
PROWLARR_NAS=/nas/arr/prowlarr

SONARR_PORTS="0:0"
SONARR_NAS=/nas/arr/sonarr
SONARR_NAS_TV=/nas/tv_shows
SONARR_NAS_TORRENTS=/nas/torrents

RADARR_PORTS="0:0"
RADARR_NAS=/nas/arr/radarr
RADARR_NAS_MOVIES=/nas/movies
RADARR_NAS_TORRENTS=/nas/torrents

FLARESOLVERR_PORTS="0:0"
FLARESOLVERR_NAS=/nas/arr/flaresolverr
