MINIFLUX_PORTS="127.0.0.1:0000:0000"
MINIFLUX_POSTGRES_USER=xyz
MINIFLUX_POSTGRES_PASSWORD=xyz
MINIFLUX_POSTGRES_DB=miniflux
MINIFLUX_ADMIN_USERNAME=xyz
MINIFLUX_ADMIN_PASSWORD=xyz
MINIFLUX_DB_USER=0000:0000