{
  "RESTIC_PASS_110_DOCKER": "0000",
  "RESTIC_PASS_200_DOCKER": "0000",
  "RESTIC_PASS_210_DOCKER": "0000",
  "RESTIC_PASS_NC2_DOCKER": "0000",
  "110USER": "helloworld",
  "my_json_var": {
    "key": "value"
  }
}