[
  {
    "name": "s3-sink-connector",
    "config": {
      "connector.class": "io.confluent.connect.s3.S3SinkConnector",
      "flush.size": "1000",
      "schema.compatibility": "BACKWARD",
      "topics": "new_data_topic",
      "s3.part.size": "5242880",
      "store.url": "https://xyz.xyz.com",
      "aws.access.key.id": "xyz",
      "aws.secret.access.key": "xyz",
      "s3.path.style.access.enabled": "true",
      "format.class": "io.confluent.connect.s3.format.avro.AvroFormat",
      "value.converter": "io.confluent.connect.avro.AvroConverter",
      "value.converter.schema.registry.url": "http://schema-registry:8081",
      "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
      "storage.class": "io.confluent.connect.s3.storage.S3Storage",
      "s3.bucket.name": "mbucket",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "store.kafka.keys": "true",
      "connect.meta.data": "true",
      "partitioner.class": "io.confluent.connect.storage.partitioner.TimeBasedPartitioner",
      "path.format": "'year'=YYYY/'month'=MM/'day'=dd/'hour'=HH",
      "partition.duration.ms": "3600000",
      "timezone": "UTC",
      "locale": "en-US",
      "timestamp.extractor": "Wallclock",
      "transforms": "AddMetadata",
      "transforms.AddMetadata.type": "org.apache.kafka.connect.transforms.InsertField$Value",
      "transforms.AddMetadata.offset.field": "kafka_offset",
      "transforms.AddMetadata.partition.field": "kafka_partition"
    }
  },
  {
    "name": "WIKIPEDIA_US_CHANGES_SINK",
    "config": {
      "connector.class": "io.confluent.connect.s3.S3SinkConnector",
      "schema.compatibility": "BACKWARD",
      "topics": "WIKIPEDIA_US_CHANGES",
      "s3.bucket.name": "xyz",
      "store.url": "https://xyz.xyz.com",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": "false",
      "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "store.kafka.keys": "true",
      "flush.size": "1000",
      "rotate.schedule.interval.ms": "60000",
      "aws.access.key.id": "xyz",
      "aws.secret.access.key": "xyz",
      "s3.path.style.access.enabled": "true",
      "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
      "storage.class": "io.confluent.connect.s3.storage.S3Storage",
      "connect.meta.data": "true",
      "partitioner.class": "io.confluent.connect.storage.partitioner.TimeBasedPartitioner",
      "path.format": "'year'=YYYY/'month'=MM/'day'=dd/'hour'=HH",
      "partition.duration.ms": "3600000",
      "timezone": "UTC",
      "locale": "en-US",
      "timestamp.extractor": "Wallclock",
      "transforms": "AddMetadata",
      "transforms.AddMetadata.type": "org.apache.kafka.connect.transforms.InsertField$Value",
      "transforms.AddMetadata.offset.field": "kafka_offset",
      "transforms.AddMetadata.partition.field": "kafka_partition",
      "consumer.auto.offset.reset": "earliest",
      "description": "this_is_essentially_a_comment._note_the_store.kafka.keys_key._its_set_to_false_here_because_the_ksqldb_CSAS_which_creates_this_doesnt_write_a_key_to_the_topic._consumer.auto.offset.reset_will_rerun_for_all_messages,_so_use_it_sparingly!"
    }
  },
  {
    "name": "scapy_wardriving_sink",
    "config": {
      "connector.class": "io.confluent.connect.s3.S3SinkConnector",
      "schema.compatibility": "BACKWARD",
      "topics": "scapy_wardriving",
      "s3.bucket.name": "xyz",
      "store.url": "https://xyz.xyz.com",
      "value.converter": "org.apache.kafka.connect.json.JsonConverter",
      "value.converter.schemas.enable": "false",
      "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
      "key.converter": "org.apache.kafka.connect.storage.StringConverter",
      "store.kafka.keys": "true",
      "flush.size": "1000",
      "rotate.schedule.interval.ms": "60000",
      "aws.access.key.id": "xyz",
      "aws.secret.access.key": "xyz",
      "s3.path.style.access.enabled": "true",
      "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
      "storage.class": "io.confluent.connect.s3.storage.S3Storage",
      "connect.meta.data": "true",
      "partitioner.class": "io.confluent.connect.storage.partitioner.TimeBasedPartitioner",
      "path.format": "'year'=YYYY/'month'=MM/'day'=dd/'hour'=HH",
      "partition.duration.ms": "3600000",
      "timezone": "UTC",
      "locale": "en-US",
      "timestamp.extractor": "Wallclock",
      "consumer.auto.offset.reset": "earliest",
      "description": "this_is_essentially_a_comment._note_the_store.kafka.keys_key._its_set_to_false_here_because_the_ksqldb_CSAS_which_creates_this_doesnt_write_a_key_to_the_topic._consumer.auto.offset.reset_will_rerun_for_all_messages,_so_use_it_sparingly!"
    }
  }
]