[{
  "name": "s3-sink-connector",
  "config": {
    "connector.class": "io.confluent.connect.s3.S3SinkConnector",
    "flush.size": "1000",
    "schema.compatibility": "BACKWARD",
    "topics": "new_data_topic",
    "s3.part.size": "5242880",
    "store.url": "https://xyz.xyz.com",
    "aws.access.key.id": "xyz_user",
    "aws.secret.access.key": "xyz_pass",
    "s3.path.style.access.enabled": "true",
    "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
    "value.converter.schemas.enable": "false",
    "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "storage.class": "io.confluent.connect.s3.storage.S3Storage",
    "s3.bucket.name": "xyz",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "store.kafka.keys": "true",
    "connect.meta.data": "true",
    "partitioner.class": "io.confluent.connect.storage.partitioner.TimeBasedPartitioner",
    "path.format": "'year'=YYYY/'month'=MM/'day'=dd/'hour'=HH",
    "partition.duration.ms": "3600000",
    "timezone": "UTC",
    "locale": "en-US",
    "timestamp.extractor": "Wallclock",
    "transforms": "AddMetadata",
    "transforms.AddMetadata.type": "org.apache.kafka.connect.transforms.InsertField$Value",
    "transforms.AddMetadata.offset.field": "kafka_offset",
    "transforms.AddMetadata.partition.field": "kafka_partition"
  }
},
{
  "name": "WIKIPEDIA_US_CHANGES_SINK",
  "config": {
    "connector.class": "io.confluent.connect.s3.S3SinkConnector",
    "flush.size": "1000",
    "schema.compatibility": "BACKWARD",
    "topics": "WIKIPEDIA_US_CHANGES",
    "s3.part.size": "5242880",
    "store.url": "https://xyz.xyz.com",
    "aws.access.key.id": "xyz_user",
    "aws.secret.access.key": "xyz_pass",
    "s3.path.style.access.enabled": "true",
    "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
    "value.converter.schemas.enable": "false",
    "schema.generator.class": "io.confluent.connect.storage.hive.schema.DefaultSchemaGenerator",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "storage.class": "io.confluent.connect.s3.storage.S3Storage",
    "s3.bucket.name": "xyz",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "store.kafka.keys": "false",
    "connect.meta.data": "true",
    "partitioner.class": "io.confluent.connect.storage.partitioner.TimeBasedPartitioner",
    "path.format": "'year'=YYYY/'month'=MM/'day'=dd/'hour'=HH",
    "partition.duration.ms": "3600000",
    "timezone": "UTC",
    "locale": "en-US",
    "timestamp.extractor": "Wallclock",
    "transforms": "AddMetadata",
    "transforms.AddMetadata.type": "org.apache.kafka.connect.transforms.InsertField$Value",
    "transforms.AddMetadata.offset.field": "kafka_offset",
    "transforms.AddMetadata.partition.field": "kafka_partition",
    "consumer.auto.offset.reset": "earliest",
    "description":"this is essentially a comment. note the store.kafka.keys key. its set to false here because the ksqldb CSAS which creates this doesnt write a key to the topic. consumer.auto.offset.reset will rerun for all messages, so use it sparingly!"
  }
}
]