NETWORK_SUBNET=0.0.0.0
NETWORK_GATEWAY=0.0.0.0
CADDY_IP=0.0.0.0
ADGUARD_IP=0.0.0.0
CLOUDFLARE_DNS_TOKEN=xyz
DOMAIN=xyz.com

TAILSCALE_AUTH_TOKEN=xyz
TAILSCALE_EXTRA_ARGS=-advertise-routes=0.0.0.0/32

ADGUARDHOME_HTTP_WEB=8091
ADGUARDHOME_HTTP_INIT_WEB=3091

# everthing thats being hosted
# not being used at the momement
CADDY_ADGUARD=0.0.0.0:0000
CADDY_TRUENAS="http://0.0.0.0"
CADDY_RSS=0.0.0.0:0000
CADDY_AUDIOBOOKS=0.0.0.0:0000