KARAKEEP_VERSION=release
NEXTAUTH_SECRET=super_random_string
MEILI_MASTER_KEY=another_random_string
NEXTAUTH_URL=http://localhost:3000
SMTP_HOST=smtp.xyz.xyz
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=noreply@xyz.com
SMTP_PASSWORD=xyz
SMTP_FROM=noreply@xyz.com
KARAKEEP_PORTS=127.0.0.1:0000:0000
CHROME_PORT=0000
MEILI_PORT=0000