{
  "docker_host_110": {
    "conn_type": "ssh",
    "description": null,
    "login": "helloworld",
    "password": null,
    "host": "0.0.0.0",
    "port": 22,
    "schema": null,
    "extra": "{\n  \"key_file\": \"/opt/airflow/config/airflow_key_secret\"\n}"
  }
}
