{
  "docker_host_000": {
    "conn_type": "ssh",
    "description": 000,
    "login": "000",
    "password": null,
    "host": "000.000.000.000",
    "port": 000,
    "schema": null,
    "extra": "{\n  \"key_file\": \"/opt/airflow/config/airflow_key_secret\"\n}"
  },
  "docker_host_000": {
    "conn_type": "ssh",
    "description": 000,
    "login": "000",
    "password": 000,
    "host": "000.000.000.000",
    "port": 000,
    "schema": null,
    "extra": "{\n  \"key_file\": \"/opt/airflow/config/airflow_key_secret\"\n}"
  },
  "postgres_de": {
    "conn_type": "postgres",
    "description": "description description `psql -h postgres_de -p 5432 -U 0000 -d 0000`", 
    "host": "postgres_de", 
    "schema": "postgres", 
    "login": "0000", 
    "password": "0000", 
    "port": "0000"
  },
  "spark_cluster_conn": {
    "conn_type": "spark",
    "host": "spark://spark-master",
    "port": 0000,
    "extra": "{\"spark.executor.memory\": \"2g\", \"spark.driver.memory\": \"2g\", \"spark.driver.host\": \"airflow-airflow-worker-1\", \"spark.driver.bindAddress\": \"0.0.0.0\", \"spark.pyspark.python\": \"/usr/local/bin/python3.11\", \"spark.pyspark.driver.python\": \"/home/airflow/.local/bin/python3.11\"}"
  }
}