{
  "RESTIC_PASS_110_DOCKER": "0000"
  , "RESTIC_PASS_200_DOCKER": "0000"
  , "110USER": "0000"
  , "my_json_var": {
    "key": "value"
  }
  , "S3_AWS_ACCESS_KEY_ID":"0000"
  , "S3_AWS_SECRET_ACCESS_KEY":"0000"
  , "S3_AWS_DEFAULT_REGION":"us-region-1"
  , "S3_ENDPOINT_URL":"https://0000.0000.com"
  , "BRONZE_LAYER_BUCKET": "0000"
  , "SILVER_LAYER_BUCKET": "0000-0000"
}