# Miscellaneous https://www.authelia.com/configuration/miscellaneous/introduction/
# Set also AUTHELIA_JWT_SECRET_FILE
theme: auto

# default_redirection_url: https://auth.shsolo.com

# First Factor https://www.authelia.com/configuration/first-factor/file/
authentication_backend:
  file:
    path: /config/users_database.yml

# Second Factor https://www.authelia.com/configuration/second-factor/introduction/
totp:
  issuer: x.com # Change me!

# Security https://www.authelia.com/configuration/security/access-control/
# access_control:
#   default_policy: two_factor
access_control:
  default_policy: deny
  rules:
    - domain: 'rss.x.com'
      policy: two_factor
    - domain: '*.x.com'
      policy: one_factor

# Session https://www.authelia.com/configuration/session/introduction/
# Set also AUTHELIA_SESSION_SECRET_FILE
session:
  cookies:
    - name: "authelia_session"
      domain: x.com                    # Change me!
      authelia_url: https://auth.x.com # Change me!

  # https://www.authelia.com/configuration/session/redis/
  # Set also AUTHELIA_SESSION_REDIS_PASSWORD_FILE if appropriate
  redis:
    host: redis
    port: 0000

# Storage https://www.authelia.com/configuration/storage/postgres/
# Set also AUTHELIA_STORAGE_POSTGRES_PASSWORD_FILE
# Set also AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE
storage:
  postgres:
    address: database:5432
    database: authelia
    username: authelia

# SMTP Notifier https://www.authelia.com/configuration/notifications/smtp/
# Set also AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
notifier:
  filesystem:
    filename: /config/notifications.txt
  # smtp: 
  #   host: smtp.example.com                     # Change me!
  #   port: 465                                  # Change me!
  #   username: you@example.com                  # Change me!
  #   sender: "Authelia <authelia@example.com>"  # Change me!

# https://www.authelia.com/configuration/security/regulation/
regulation:
  modes:
    - 'user'
    - 'ip'
  max_retries: 3
  find_time: '2m'
  ban_time: '5m'