# User file database https://www.authelia.com/reference/guides/passwords/#yaml-format
# Generate passwords https://www.authelia.com/reference/guides/passwords/#passwords
# docker run --rm -it authelia/authelia:latest authelia crypto hash generate argon2

# passing env variables into autherlia yaml, i couldnt get it to work
# https://github.com/authelia/authelia/issues/920#issuecomment-2029652076
users:
    x:
        password: $argon2id$v=19$m=65536,t=3,p=4$x
        displayname: x
        email: x
        groups:
            - admins