# whitecacti envs

#### common
COMMON_DB_USER=x

### studio, dont leak this lol
### kong

### auth
GOTRUE_API_HOST=0.0.0.0
GOTRUE_API_PORT=0000

### rest

### realtime
REALTIME_PORT=0000

### storage

### imgproxy
IMGPROXY_BIND_PORT=0000

### meta
META_PG_META_PORT=0000

# functions

# analytics
ANALYTICS_EXTERNAL_PORT=0000
ANALYTICS_INTERNAL_PORT=0000

### db


### vector
VECTOR_PUID=0000
VECTOR_PGID=0000


############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=xyz
# https://supabase.com/docs/guides/self-hosting/docker#:~:text=up%20the%20changes.-,Generate%20API%20keys,-%23
JWT_SECRET=xyz
ANON_KEY=xyz.xyz.xyz
SERVICE_ROLE_KEY=xyz.xyz.xyz
# https://supabase.com/docs/guides/self-hosting/docker#dashboard-authentication
DASHBOARD_USERNAME=xyz
DASHBOARD_PASSWORD=xyz
SECRET_KEY_BASE=xyz/u2oq
VAULT_ENC_KEY=xyz


############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############
# Connecting to Database
# jdbc:postgresql://postgres.spoonbiakub:ic9qR82K563bUbw7yNBZ@192.168.110.100:5432/postgres
# jdbc:postgresql://postgres:[POSTGRES_PASSWORD]@[your-server-ip]:5432/[POSTGRES_DB]
POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=0000
# default user is postgres


############
# Supavisor -- Database pooler
############
# Port Supavisor listens on for transaction pooling connections
POOLER_PROXY_PORT_TRANSACTION=0000
# Maximum number of PostgreSQL connections Supavisor opens per pool
POOLER_DEFAULT_POOL_SIZE=0
# Maximum number of client connections Supavisor accepts per pool
POOLER_MAX_CLIENT_CONN=0
# Unique tenant identifier
POOLER_TENANT_ID=xyz
# Pool size for internal metadata storage used by Supavisor
# This is separate from client connections and used only by Supavisor itself
POOLER_DB_POOL_SIZE=0


############
# API Proxy - Configuration for the Kong Reverse proxy.
############

# curl -i \
#  -H "apikey: $ANON_KEY" \
#  -H "Authorization: Bearer $ANON_KEY" \
#  "http://localhost:${KONG_HTTP_PORT}/rest/v1/todos"

# this will return all the data from the table profiles in the public schema
# curl -i \
#  -H "apikey: xyz.xyz.xyz" \
#  -H "Authorization: Bearer xyz.xyz.xyz" \
#  "http://192.168.110.100:8000/rest/v1/profiles"

KONG_HTTP_PORT=0000
KONG_HTTPS_PORT=0000


############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:0000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=0000
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:0000

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender
ENABLE_ANONYMOUS_USERS=false

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project

STUDIO_PORT=0000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:0000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

# Add your OpenAI API key to enable SQL Editor Assistant
OPENAI_API_KEY=


############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false


############
# Logs - Configuration for Analytics
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

# Change vector.toml sinks to reflect this change
# these cannot be the same value
LOGFLARE_PUBLIC_ACCESS_TOKEN=xyz
LOGFLARE_PRIVATE_ACCESS_TOKEN=xyz

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER