# connect from host, not from container
# sudo apt install -y postgresql-client
# psql -h localhost -p 0000 -U xyz -d xyz

# connect
# docker exec -it postgres_de sh
# we need this for DNS to work!!!!
# sudo echo "172.21.0.2 xyz.xyz.com" >> /etc/hosts

# establish creds
# 1. Credentials and Config (from your snippet)
# export AWS_ACCESS_KEY_ID="xyz_user"
# export AWS_SECRET_ACCESS_KEY="xyz_pass"
# export AWS_ENDPOINT_URL="https://xyz.xyz.com"
# export AWS_DEFAULT_REGION=us-east-1

# download all files
# rm -rf /tmp/descapy/
# aws s3 cp s3://silver-layer/descapy/ /tmp/descapy/ --recursive --exclude "*" --include "*.parquet" --endpoint-url https://xyz.xyz.com

# get into postgres
# psql -U postgres -d postgres

AWS_ACCESS_KEY_ID="xyz_user"
AWS_SECRET_ACCESS_KEY="xyz_pass"
AWS_ENDPOINT_URL="https://xyz.xyz.com"
AWS_DEFAULT_REGION=us-east-1
POSTGRES_PASSWORD="xyz_pass"
PORT=0000
DOCKER_PORTS="127.0.0.1:0000:0000"

